@import '../../../variables';
@import '../../../mixins.scss';

.details {
    margin-block-start: 3.5rem;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    img {
        max-width: 1000px;
        max-height: 1200px;
        margin-block: 2rem;
    }
    section {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        * {
            margin-block: 0.3rem;
            font-size: 1.2rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    }
    a {
        text-decoration: none;
    }
    form {
        input {
            margin-block: 1rem;
            width: 20rem;
        }
        margin-block-start: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .description {
            height: 5rem;
            width: 20rem;
        }
        button {
            @include btnTheme();
            width: 15rem;
        }
    }
}
@media (max-width: 1250px) {
    .details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
