@import '../../../variables';
@import '../../../mixins.scss';

.item {
    // padding: 0.5rem;
    overflow: hidden;
    display: inline-block;
    div {
        // max-width: 500px;
        // height: auto;
        img {
            max-width: 100%;
            // height: auto;
        }
        div {
            margin-block: 0.5rem;
            display: flex;
            justify-content: space-between;
            
            button {
                @include btnTheme();
                background-color: transparent;
                padding-inline: 1rem;
            }
            input {
                display: none;
            }
            img {
                height: 2rem;
            }
        }
    }
}
.item img {
    transition: transform 0.4s ease;
}
.item:hover img {
    transform: scale(1.1);
}
