@import '../../../variables';
@import '../../../mixins.scss';

.item {
    margin-block: 0.4rem;
    overflow: hidden;
    display: inline-block;
    div {
        display: flex;
        img {
            max-width: 100%;
            height: auto;
        }
        div {
            max-width: 100%;
            margin-block: 0.5rem;
            min-width: 28%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            button {
                @include btnTheme();
                background-color: transparent;
                padding-inline: 1rem;
            }
            input {
                display: none;
            }
            img {
                height: 2rem;
            }
        }
    }
}
.item img {
    transition: transform 0.4s ease;
}
.item:hover img {
    transform: scale(1.1);
}
@media (max-width: 650px) {
    .item {
        div {
            img {
                max-width: 100%;
                min-width: 18rem;
                height: auto;
            }
            div {
                max-width: 100%;
                margin-block: 0.5rem;
                min-width: 28%;
                display: flex;
                justify-content: space-between;
                position: absolute;
                button {
                    @include btnTheme();
                    background-color: transparent;
                    padding-inline: 1rem;
                }
                input {
                    display: none;
                }
                img {
                    height: 2rem;
                }
            }
        }
    }
}
